@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: #f3f3f3;
  --f-color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 60%;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  background-color: var(--bg-color);
  color: var(--f-color);
  height: 100vh;
  padding: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.welcome {
  font-size: 1.8rem;
  font-weight: 500;
}
.logo {
  height: 5.25rem;
}
.login {
  display: flex;
}
.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  text-align: center;
  width: 120px;
  border: 1px solid #fff;
  border-radius: 10rem;
  margin-right: 1rem;
  transition: all 0.3s;
}
.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}
.login__input::placeholder {
  color: #ccc;
}
.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus {
  outline: none;
  color: #ccc;
}
.main {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  margin: 4rem auto;
}
.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}
.balance__date {
  font-size: 1.4rem;
  color: #888;
}
.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}
